*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/deploymentTargetSelector.xml
/.idea/caches/deviceStreaming.xml
/app/release/app-release.apk
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/compiler.xml
/.idea/appInsightsSettings.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/app/release/output-metadata.json
/.idea/vcs.xml
