<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zacharee1.insomnia">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.NoActionBar">

        <service
            android:name=".tiles.CycleTile"
            android:label="@string/app_name"
            android:icon="@drawable/off"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.TimesConfigureActivity"
            android:label="@string/configure"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

    </application>
</manifest>
